@inherits InputBase<int>
@typeparam T

@code {
	[Parameter] public IEnumerable<T>? Options { get; set; }
	[Parameter] public Func<T, string> Name { get; set; } = t => "";
	protected override bool TryParseValueFromString(string? value, out int result, out string errorMsg)
	{
		if (int.TryParse(value, out result))
		{
			errorMsg = "";
			return true;
		}
		else
		{
			errorMsg = "'" + value + "' is not a number";
			return false;
		}
	}
	protected override void OnInitialized()
	{
		base.OnInitialized();
		CurrentValue = 0;
	}
}
<select @attributes="@AdditionalAttributes" class="@CssClass" @bind="@CurrentValue">
    @foreach (var (opt, i) in Options!.Select((o, i) => (o, i)))
    {
        <option class="@CssClass" value="@i">@Name(opt)</option>
    }
</select>