@inherits InputBase<int>

@code {
    [Parameter] public IEnumerable<Server.PlayerId>? Options { get; set; }
    protected override bool TryParseValueFromString(string value, out int result, out string? errorMsg)
    {
        if (int.TryParse(value, out result))
        {
            errorMsg = null;
            return true;
        }
        else
        {
            errorMsg = "'" + value + "' is not a number";
            return false;
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        CurrentValue = Options.First().I;
    }
}
<select @attributes="@AdditionalAttributes" class="@CssClass" @bind="@CurrentValue">
    @foreach (var opt in Options!)
    {
        <option class="@CssClass" value="@opt.I">@opt.N</option>
    }
</select>