@inject HttpClient http;
@inject ISessionStorageService cookies;

@code{
	public enum Errors { Ok, FewSoldiers, LittleCapacity, NotPlaying, Else }
	Errors error = Errors.Ok;
	[Parameter] public Action Return { get; set; } = (() => { });
	[Parameter] public int From { get; set; }
	[Parameter] public int To { get; set; }
	[Parameter] public int LoggedIn { get; set; }
	MoveModel model = new MoveModel();
	Shared.Data.MoveInfo? Info = null;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostJsonResponseAsync<Shared.Data.IntPair, Shared.Data.MoveInfo>("api/Command/MoveInfo", new Shared.Data.IntPair(From, To));
		model.Soldiers = IntModel.Array(Info.Soldiers.Length);
		if (!Info.Possible)
		{
			Return();
		}
	}
	async Task DoMove()
	{
		error = await http.PostJsonResponseAsync<Shared.Data.MoveCmd, Errors>("api/Command/Move", new Shared.Data.MoveCmd(LoggedIn, await cookies.GetStringAsync("login") ?? "", From, To, model.Soldiers.Select(s => s.Value).ToArray()));
		if (error == Errors.Ok || error == Errors.NotPlaying)
		{
			Return();
		}
	}
	SoldierTypeInfobox? infobox;
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Manévry</a>
</nav>
<main>
	<SoldierTypeInfobox @ref="infobox" />
	@if (error == Errors.FewSoldiers)
	{
		<p>V počáteční provincii není dostatek vojáků</p>
	}
	else if (error == Errors.LittleCapacity)
	{
		<p>Vojsko není přesunu schopné</p>
	}
	else if (error == Errors.Else)
	{
		<p>Přesun není možný</p>
	}
	@if (Info is Shared.Data.MoveInfo)
	{
		<EditForm Model="@model" OnValidSubmit="DoMove">
			<DataAnnotationsValidator /><ValidationSummary />
			<p>Začátek: @(Info.FromName) @Info.FromSoldiers</p>
			<p>Cíl: @(Info.ToName) @Info.ToSoldiers</p>
			<table>
				@foreach (var (i, type) in Info.Soldiers.Try().Index())
				{
					<tr>
						<td>@type.Name<sup @onclick="() => infobox?.Open(type)">?</sup></td>
						<td><InputNumber @bind-Value="model.Soldiers[i].Value" autofocus /></td>
					</tr>
				}
				<tr><td></td><td><button type="submit">Přesunout</button></td></tr>
			</table>
		</EditForm>
	}
</main>