@inject IClient http;
@inject SettingsLoader settings;
@inject SessionService storage;

@code{
	Data.MoveErrors error = Data.MoveErrors.Ok;
	[Parameter] public System.Action Return { get; set; } = (() => { });
	[Parameter] public int From { get; set; }
	[Parameter] public int To { get; set; }
	Model<List<Model<int>>> model = new Model<List<Model<int>>>();
	Data.MoveInfo? Info = null;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostAsync<Data.MoveData, Data.MoveInfo>("api/Command/MoveInfo", new Data.MoveData(From, To, storage.GameId));
		model.Value = Info.Counts.Select(count => new Model<int> { Value = count }).ToList();
		if (!Info.Possible)
		{
			Return();
		}
	}
	async Task DoMove()
	{
		error = await http.PostAsync<Data.MoveCmd, Data.MoveErrors>("api/Command/Move", new Data.MoveCmd(storage.Player, storage.Key, From, To, model.Value!.Select(s => s.Value).ToImmutableArray(), storage.GameId));
		if (error == Data.MoveErrors.Ok || error == Data.MoveErrors.NotPlaying)
		{
			Return();
		}
	}
	SoldierTypeInfobox? infobox;
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Manévry</a>
</nav>
<main>
	<SoldierTypeInfobox @ref="infobox" />
	@if (error == Data.MoveErrors.FewSoldiers)
	{
		<p>V počáteční provincii není dostatek vojáků</p>
	}
	else if (error == Data.MoveErrors.LittleCapacity)
	{
		<p>Vojsko není přesunu schopné</p>
	}
	else if (error == Data.MoveErrors.Else)
	{
		<p>Přesun není možný</p>
	}
	@if (Info ?.Counts is { IsDefaultOrEmpty: false })
	{
		<EditForm Model="@model" OnValidSubmit="DoMove">
			<DataAnnotationsValidator /><ValidationSummary />
			<p>Začátek: @(Info.FromName) @Info.FromSoldiers</p>
			<p>Cíl: @(Info.ToName) @Info.ToSoldiers</p>
			<table>
				@foreach (var (i, count) in Info.Counts.Index().Where(p => p.v > 0))
				{
					<tr>
						<td class="dotted" @onclick="() => infobox?.Open(settings.Types[i].D)">@settings.Types[i].D.Name</td>
						<td><InputNumber @bind-Value="model.Value![i].Value"/></td>
					</tr>
				}
				<tr><td></td><td><button type="submit">Přesunout</button></td></tr>
			</table>
		</EditForm>
	}
</main>