@inject ImperitClient http;

@using Mode = Server.Switch.Mode;

@code{
	[Parameter] public Server.Session LoggedIn { get; set; } = new Server.Session();
	[Parameter] public Func<Task>? LogoutAsync { get; set; }
	[Parameter] public Action<Mode, int?, int?, (int, int, string)?> Switch { get; set; } = ((a, x, y, z) => { });
	void Donate(int player)
	{
		Switch(Mode.Donation, null, null, (PlayerInfos?[LoggedIn.U].Money ?? 0, player, PlayerInfos?[player].Name ?? ""));
	}
	async Task DoGiveUp()
	{
		await http.PostJsonAsync<Server.Session>("api/Command/GiveUp", LoggedIn);
		await LogoutAsync!();
	}

	Server.PlayerFullInfo[]? PlayerInfos = null;
	Server.ProvinceInstability[]? Instabilities = null;
	protected override async Task OnInitializedAsync()
	{
		PlayerInfos = await http.GetJsonAsync<Server.PlayerFullInfo[]>("api/Player/Infos");
		Instabilities = await http.GetJsonAsync<Server.ProvinceInstability[]>("api/Provinces/Instabilities");
	}
}
<nav>
	<a @onclick="() => Switch(Mode.Map, null, null, null)">Zpět</a>
	<a class="this">@PlayerInfos?[LoggedIn.U].Money@Sym.Money</a>
</nav>
<main>
	@if (PlayerInfos != null)
	{
		<p>Přihlášen: <span style="color:@PlayerInfos[LoggedIn.U].Color;">@PlayerInfos[LoggedIn.U].Name</span></p><br/>
	}
	<table class="players">
		@foreach (var player in PlayerInfos.Try().Where(p => p.Display))
		{
			<tr>
				<td style="color:@player.Color;">@player.Name</td>
				@if (player.Alive)
				{
					<td>@player.Money@Sym.Money</td>
					<td>(+@player.Income@Sym.Money)</td>
					@if (player.Id == LoggedIn.U)
					{
						<td class="link-like" @onclick="DoGiveUp">Vzdát se</td>
					}
					else
					{
						<td class="link-like" @onclick="() => Donate(player.Id)">Věnovat</td>
					}
				}
				else
				{
					<td colspan="3">není</td>
				}
			</tr>
		}
	</table><br/>
	@foreach (var info in PlayerInfos.Try().Where(i => i.Debt > 0))
	{
		<p><span style="color:@info.Color;">@info.Name</span> dluží @info.Debt@Sym.Money</p>
	}
	@if (Instabilities != null && Instabilities.Any())
	{
		<p>Rizika odtržení provincie:</p>
		<table class="players">
			@foreach (var it in Instabilities.GroupBy(it => it.Color).SelectMany(g => g.OrderByDescending(it => it.Instability)))
			{
				<tr><td style="color:@it.Color;">@it.Name</td><td>@it.Instability.ToString("{0}.{1} %", 100, 10)</td></tr>
			}
		</table>
	}
	
</main>