@inject ImperitClient http;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	[Parameter] public Server.Session LoggedIn { get; set; } = new Server.Session();
	[Parameter] public int Land { get; set; }
	async Task DoPurchase()
	{
		await http.PostJsonAsync<Server.PurchaseCmd>("api/Command/Purchase", new Server.PurchaseCmd(LoggedIn.U, LoggedIn.I, Land, LoggedIn.G));
		Return();
	}
	Server.PurchaseInfo? Info = null;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostJsonResponseAsync<Server.CmdData, Server.PurchaseInfo>("api/Command/PurchaseInfo", new Server.CmdData(LoggedIn.U, Land, LoggedIn.G));
		if (!Info.Possible)
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Koupě</a>
</nav>
<main>
	@if (Info is Server.PurchaseInfo)
	{
		@if (Info.Price > Info.Money)
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money, chceš si půjčit @(Info.Price - Info.Money)@Sym.Money a koupit?</p>
		}
		else
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money</p>
		}
		<button @onclick="DoPurchase">Koupit</button>
	}
</main>