@inject ImperitClient http;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	[Parameter] public int Land { get; set; }
	Data.PurchaseInfo? Info = null;
	async Task DoPurchase()
	{
		await http.PostAsync<Data.PurchaseCmd>("api/Command/Purchase", new Data.PurchaseCmd(Session.P, Session.Key, Land, Session.G));
		Return();
	}
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostAsync<Data.PurchaseData, Data.PurchaseInfo>("api/Command/PurchaseInfo", new Data.PurchaseData(Session.P, Land, Session.G));
		if (!Info.Possible)
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Koupě</a>
</nav>
<main>
	@if (Info is Data.PurchaseInfo)
	{
		@if (Info.Price > Info.Money)
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money, chceš si půjčit @(Info.Price - Info.Money)@Sym.Money a koupit?</p>
		}
		else
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money</p>
		}
		<button @onclick="DoPurchase">Koupit</button>
	}
</main>