@inject ImperitClient http;
@inject SessionService storage;

@code{
	[Parameter] public System.Action Return { get; set; } = (() => { });
	[Parameter] public int Land { get; set; }
	PurchaseInfo? Info = null;
	async Task DoPurchase()
	{
		await http.PostAsync<Data.PurchaseCmd>("api/Command/Purchase", new PurchaseCmd(storage.Player, storage.Key, Land, storage.GameId));
		Return();
	}
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostAsync<Data.PurchaseData, Data.PurchaseInfo>("api/Command/PurchaseInfo", new PurchaseData(storage.Player, Land, storage.GameId));
		if (!Info.Possible)
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Koupě</a>
</nav>
<main>
	@if (Info is Data.PurchaseInfo)
	{
		@if (Info.Price > Info.Money)
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money, chceš si půjčit @(Info.Price - Info.Money)@Sym.Money a koupit?</p>
		}
		else
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money</p>
		}
		<button @onclick="DoPurchase">Koupit</button>
	}
</main>