@inject ImperitClient http;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	[Parameter] public Shared.Data.User LoggedIn { get; set; } = new Shared.Data.User();
	[Parameter] public int Land { get; set; }
	async Task DoPurchase()
	{
		await http.PostJsonAsync<Shared.Data.PurchaseCmd>("api/Command/Purchase", new Shared.Data.PurchaseCmd(LoggedIn.U, LoggedIn.I, Land));
		Return();
	}
	Shared.Data.PurchaseInfo? Info = null;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostJsonResponseAsync<Shared.Data.IntPair, Shared.Data.PurchaseInfo>("api/Command/PurchaseInfo", new Shared.Data.IntPair(LoggedIn.U, Land));
		if (!Info.Possible)
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Koupě</a>
</nav>
<main>
	@if (Info is Shared.Data.PurchaseInfo)
	{
		@if (Info.Price > Info.Money)
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money, chceš si půjčit @(Info.Price - Info.Money)@Sym.Money a koupit?</p>
		}
		else
		{
			<p>@Info.Name stojí @Info.Price@Sym.Money</p>
		}
		<button @onclick="DoPurchase">Koupit</button>
	}
</main>