@inject ImperitClient http;

@using Mode = Data.View;

@code{
	[Parameter] public Action<Mode> Switch { get; set; } = (x => { });
	[Parameter] public int Land { get; set; }
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	Data.RecruitModel model = new Data.RecruitModel();
	Data.RecruitInfo Info = new Data.RecruitInfo("", "", ImmutableArray<Data.SoldiersItem>.Empty, 0);
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostAsync<Data.RecruitData, Data.RecruitInfo>("api/Command/RecruitInfo", new Data.RecruitData(Land, Session.P, Session.G));
		model.Soldiers = Data.Int.Create(Info.R.Length);
	}
	int Price => model.Soldiers.Zip(Info.R.Try(), (count, type) => count.Value * type.P).Sum();
	int Missing => Price - Info.M;
	async Task JustRecruit()
	{
		await http.PostAsync<Data.RecruitCmd>("api/Command/Recruit", new Data.RecruitCmd(Session.P, Session.Key, Land, model.Soldiers.Select(s => s.Value).ToImmutableArray(), Session.G));
		Switch(Mode.Map);
	}
	Task DoRecruit() => Missing <= 0 ? JustRecruit() : Task.Run(() => { });
	SoldierTypeInfobox? infobox;
}
<nav>
	<a @onclick="() => Switch(Mode.Map)">Zrušit</a>
	<a class="this">Verbování</a>
	<a @onclick="() => Switch(Mode.Players)">@Info.M@Sym.Money</a>
</nav>
<main>
	<SoldierTypeInfobox @ref="infobox" />
	<EditForm Model="model" OnValidSubmit="DoRecruit">
		<DataAnnotationsValidator /><ValidationSummary />
		@if (!string.IsNullOrWhiteSpace(Info.S))
		{
			<p>@Info.N má @Info.S</p>
		}
		else
		{
			<p>@Info.N nemá žádné vojáky</p>
		}
		<table>
			@foreach (var (i, (type, price)) in Info.R.Try().Index())
			{
				<tr>
					<td>@type.Name @price@Sym.Money<sup @onclick="() => infobox?.Open(type)">?</sup></td>
					<td><InputNumber @bind-Value="model.Soldiers[i].Value" autofocus /></td>
				</tr>
			}
			<tr>
				<td>
					@if (Missing > 0)
					{
						<text>Chybí ti @Missing@Sym.Money</text>
					}
				</td>
				@if (Missing > 0)
				{
					<td><button @onclick="JustRecruit">Půjčit si a verbovat</button></td>
				}
				else
				{
					<td><button type="submit">Verbovat</button></td>
				}
			</tr>
		</table>
	</EditForm>
</main>