@inject ImperitClient http;
@inject SettingsLoader settings;
@inject SessionService storage;

@code{
	[Parameter] public Action<View> Switch { get; set; } = (x => { });
	[Parameter] public int Land { get; set; }
	List<Model<int>> model = new List<Model<int>>();
	RecruitInfo Info = new RecruitInfo("", "", ImmutableArray<bool>.Empty, 0, new Ratio());
	int Price => model?.Zip(settings.Types, (count, type) => count.Value * type.P)?.Sum() ?? 0;
	int Missing => Price - Info.M;
	SoldierTypeInfobox? infobox;
	bool Borrow = false;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostAsync<Data.RecruitData, Data.RecruitInfo>("api/Command/RecruitInfo", new Data.RecruitData(Land, storage.Player, storage.GameId));
		model = settings.Types.Select(_ => new Model<int>()).ToList();
	}
	async Task DoRecruit()
	{
		if (Borrow || Missing <= 0)
		{
			await http.PostAsync<Data.RecruitCmd>("api/Command/Recruit", new Data.RecruitCmd(storage.Player, storage.Key, Land, model.Select(s => s.Value).ToImmutableArray(), storage.GameId));
			Switch(View.Map);
		}
	}
}
<nav>
	<a @onclick="() => Switch(View.Map)">Zrušit</a>
	<a class="this">Verbování</a>
	<a @onclick="() => Switch(View.Statistics)">@Info.M@Sym.Money</a>
</nav>
<main>
	<SoldierTypeInfobox @ref="infobox" />
	<EditForm Model="model" OnValidSubmit="DoRecruit">
		<DataAnnotationsValidator /><ValidationSummary />
		@if (Info?.R is { IsDefault: false })
		{
			@if (Info.S is { Length: > 0 })
			{
				<p>@Info.N má @Info.S @if (Info.I.Any) { <text>(pravděpodobnost odtržení @Info.I.ToString("{0}.{1} %", 100, 10))</text> }</p>
			}
			else
			{
				<p>@Info.N nemá žádné vojáky @if (Info.I.Any) { <text>(pravděpodobnost odtržení @Info.I.ToString("{0}.{1} %", 100, 10))</text> }</p>
			}
			<table>
				@foreach (var (i, type) in settings.Types.Index().Where((_, i) => Info.R[i]))
				{
					<tr>
						<td class="dotted" @onclick="() => infobox?.Open(type.D)">@type.D.Name @type.P@Sym.Money</td>
						<td><InputNumber @bind-Value="model[i].Value" /></td>
					</tr>
				}
				<tr>
					@if (Missing > 0)
					{
						Borrow = true;
						<td>Chybí @Missing@Sym.Money</td>
						<td><button type="submit">Půjčit si a verbovat</button></td>
					}
					else
					{
						Borrow = false;
						<td></td><td><button type="submit">Verbovat</button></td>
					}
				</tr>
			</table>
		}
	</EditForm>
</main>